# Project related

# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Leiningen
classes/
lib/
native/
checkouts/
target/
.lein-*
repl-port
.nrepl-port
.repl

# Deps dot edn
.cpcache/

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
out/
build/

# Project
.idea
*.iml
*.der
*.pem

.vscode
services/src/datakam/bin
services/src/datakam/obj
services/test/datakam.Tests/bin
services/test/datakam.Tests/obj

realtime/src/realtime/bin
realtime/src/realtime/obj
realtime/test/realtime.Tests/bin
realtime/test/realtime.Tests/obj

domain/bin
domain/obj

.fake
.ionide

# CDK asset staging directory
.cdk.staging
cdk.out

