{:paths
 ["src"
  "test"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.758"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  ;; outcastgeek/fast-twitch    {:git/url "https://github.com/outcastgeek/fast-twitch"
  ;;                             :sha     "0d489237a536879c86d5f8251a9a1f6d031e3dd5"}
  ;;outcastgeek/fast-twitch {:local/root "/path/to/fast-twitch"}
  ;outcastgeek/fast-twitch {:local/root "/Users/chiefkemist/projects_workspace/fast-twitch"}
  OUTCASTGEEK-TECH/fast-twitch    {:git/url "https://github.com/OUTCASTGEEK-TECH/fast-twitch"
                                   :sha     "ce3555329aa1cad31e3df81d048cdc63a1e8b9a2"}
  kamestery/contractskam         {:git/url "https://github.com/kamestery/contractskam"
                                  :sha     "a532761c407abe6c23a421155062335e57c37c7e"}
  ;;kamestery/contractskam {:local/root "/path/to/contractskam"}
  ;;kamestery/contractskam {:local/root "/Users/chiefkemist/projects_workspace/contractskam"}
  cljs-ajax/cljs-ajax                  {:mvn/version "0.8.0"}
  cljs-http/cljs-http                  {:mvn/version "0.1.46"}
  org.clojure/core.match               {:mvn/version "1.0.0"}
  mount/mount                          {:mvn/version "0.1.16"}
  camel-snake-kebab/camel-snake-kebab  {:mvn/version "0.4.1"}
  com.rpl/specter                      {:mvn/version "1.1.3"}
  com.taoensso/timbre                  {:mvn/version "4.10.0"}
  com.cognitect/transit-cljs           {:mvn/version "0.8.256"}
  tick/tick                            {:mvn/version "0.4.26-alpha"}}

 :aliases
 {:ancient {:main-opts  ["-m" "deps-ancient.deps-ancient"]
            :extra-deps {deps-ancient {:mvn/version "0.0.5"}}}
  :dev
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.5"}}}
  :prod
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.5"}}}
  :zprint
  {:extra-deps
   {zprint/zprint {:mvn/version "1.0.2"}}
   :main-opts ["-m" "zprint.main"]}}}
