[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
ujson = "*"
email-validator = "*"
requests = "*"
aiofiles = "*"
jinja2 = "*"
python-multipart = "*"
itsdangerous = "*"
bcrypt = "*"
passlib = "*"
cryptography = "*"
python-jose = "*"
pyyaml = "*"
uvicorn = "*"
uvloop = "*"
gunicorn = "*"
orjson = "*"
boto3 = "*"
loguru = "*"
httpx = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
pylint = "*"
tox = "*"
tox-pipenv = "*"
typer = "*"

[requires]
python_version = "3.9"
