
{{ define "controlkam_up_json.tmpl" }}
{
  "name": "controlkam",
  "profile": "default",
  "regions": [
    "us-east-1"
  ],
  "lambda": {
    "memory": 128,
    "policy": [
      {
        "Sid": "AllowCloudFrontUpdateDistribution",
        "Effect": "Allow",
        "Action": [
          "cloudfront:updateDistribution"
        ],
        "Resource": [
          "*"
        ]
      }
    ]
  },
  "stages": {
    "ck_prod": {
      "domain": "ctrlkm.kamestery.com"
    },
    "ck_stage": {
      "domain": "ctrlkm-stage.kamestery.com"
    },
    "ck_dev": {
      "domain": "ctrlkm-dev.kamestery.com"
    }
  },
  "environment": {
    "LAST_DEPLOYED": "{{Now "Mon, 02 Jan 2006 15:04:05 -0700"}}",
    "LOG_LEVEL": "{{ .log_level }}"{{with .backend_key }},
    "BACKEND": "https://{{ . }}.kamestery.com"
    {{ end }}{{with .rpc_backend_key}},
    "RPC_BACKEND": "{{ . }}",
    {{ end }}
    "NAMESPACE": "{{ .namespace }}"
  },
  "error_pages": {
    "disable": true
  }
}
{{ end }}
