[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
pyramid_chameleon = "*"
pyramid_jinja2 = "*"
pyramid_debugtoolbar = "*"
pyramid_beaker = "*"
pyramid_tm = "*"
pyramid_retry = "*"
waitress = "*"
deform = "*"
boto3 = "*"
pynamodb = "*"
graphene = "*"
bcrypt = "*"
PyJWT = "*"
uvloop = "*"
cffi = "*"
Cython = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
