appdirs==1.4.3
args==0.1.0
astor==0.5
boto3==1.4.4
botocore==1.5.78
certifi==2017.4.17
chardet==3.0.4
clint==0.5.1
docutils==0.13.1
graphene==1.4.1
graphql-core==1.1
graphql-relay==0.4.5
hy==0.12.1
idna==2.5
jmespath==0.9.3
promise==2.0.2
python-dateutil==2.6.0
requests==2.18.1
rply==0.7.4
s3transfer==0.1.10
six==1.10.0
typing==3.6.1
urllib3==1.21.1
