appdirs==1.4.3
args==0.1.0
arrow==0.12.0
astor==0.6.2
bcrypt==3.1.4
Beaker==1.9.0
binaryornot==0.4.4
boltons==17.1.0
boto3==1.4.8
botocore==1.8.13
BTrees==4.4.1
certifi==2017.11.5
cffi==1.11.2
Chameleon==3.2
chardet==3.0.4
click==6.7
clint==0.5.1
colander==1.4
Cython==0.27.3
deform==2.0.4
docutils==0.14
FormEncode==1.3.1
future==0.16.0
graphene==2.0.1
graphql-core==2.0
graphql-relay==0.4.5
hupper==1.0
idna==2.6
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
Mako==1.0.7
MarkupSafe==1.0
PasteDeploy==1.5.2
peppercorn==0.5
persistent==4.2.4.2
plaster==1.0
plaster-pastedeploy==0.4.2
poyo==0.4.1
promise==2.1
pycparser==2.18
Pygments==2.2.0
pynamodb==3.2.1
pyramid==1.9.1
pyramid-beaker==0.8
pyramid-chameleon==0.3
pyramid-debugtoolbar==4.3
pyramid-exclog==1.0
pyramid-jinja2==2.7
pyramid-mako==1.0.2
pyramid-retry==0.5
pyramid-tm==2.2
pyramid-zodbconn==0.8.1
python-dateutil==2.6.1
pytz==2017.3
repoze.lru==0.7
requests==2.18.4
rply==0.7.5
Rx==1.6.0
s3transfer==0.1.12
six==1.11.0
transaction==2.1.2
translationstring==1.3
typing==3.6.2
urllib3==1.22
uvloop==0.9.1
venusian==1.1.0
waitress==1.1.0
WebHelpers==1.3
WebOb==1.7.4
Werkzeug==0.13
whichcraft==0.4.1
zc.lockfile==1.2.1
ZConfig==3.2.0
zdaemon==4.2.0
ZEO==5.1.0
ZODB==5.3.0
ZODB3==3.11.0
zodbpickle==0.7.0
zodburi==2.3.0
zope.deprecation==4.3.0
zope.interface==4.4.3
