
{% extends "templates/layout.jinja2" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="hero is-small is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Home
                </h1>
                <h2 class="subtitle">
                    Welcome to SlapWeb
                </h2>
            </div>
        </div>
    </div>
    {% include "templates/partials/navbar.jinja2" %}
    {% include "templates/partials/notifications.jinja2" %}
    <div class="section is-medium">
        <div class="container">
            <div class="content has-text-centered">
                <p>My string: {{project}}</p>
                <p>Value from the list: {{my_list[3]}}</p>
                <p>Loop through the list:</p>
                <ul>
                    {% for n in my_list %}
                        <li>{{n}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

